body {
  min-width: 1000px;
  width: auto !important;
}
.header-top {
  display: flex;
  justify-content: space-between;
}

.left-header {
  display: flex;
  padding-left: 0.25vw;
  justify-items: center;
}
.search-bar {
  display: flex;
  justify-items: center;
  width: 40vw;
}
.s-left,
.s-right {
  width: max-content;
  height: max-content;
  border-width: 1px;
}

.s-left {
  width: 40vw;
  height: 70%;
  border-radius: 5rem 0 0 5rem;
  padding-left: 1rem;
}
.s-right {
  width: 4vw;
  height: 79%;
  border-radius: 0 5rem 5rem 0;
}

ul {
  list-style: none;
  display: flex;
}

.voice-btn {
  margin-left: 4px;
  padding: 10px 10px;
  border-color: transparent;
  width: 2.5rem;
  border-radius: 50%;
  background-color: dar;
}

button:hover {
  background-color: lightcoral;
}

.right-header {
  display: flex;
  padding-right: 1vw;
}

.burger {
  display: flex;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  margin-right: 2px;
  padding-top: 0.5rem;
}

.yt-img {
  width: 3.4rem;
  height: 2rem;
  color: red;
}
.yt {
  font-size: x-large;
  font-weight: 900;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.ellipses:after {
  display: flex;
  content: "•••";
  transform: rotate(90deg);
  font-size: 12px;
  letter-spacing: 2px;
  margin-top: 0.6rem;
  margin-right: 1rem;
}

.sign-in {
  color: blue;
  display: flex;
  width: 6rem;
  height: 2rem;
  justify-items: center;
  padding-top: 0.5rem;
  justify-content: space-around;
  border-radius: 5rem 5rem 5rem 5rem;
  background-color: transparent;
  border-width: 1px;
  border-color: lightgrey;
}

main {
  display: flex;
  height: 100%;
  overflow: hidden;
}

.left-main {
  width: 5%;
}

.right-main {
  padding-left: 2rem;
  width: 95%;
}

.side-btn {
  width: 100%;
  height: 3rem;
  background-color: transparent;
  justify-content: flex-start;
  margin-bottom: 1rem;
  border: 0;
}
.side-btn:hover {
  background-color: lightgreen;
}
.btn-content {
  display: flex-col;
  justify-content: center;
  text-align: center;
  font-size: x-small;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.categories {
  display: flex;
}

#cat-items {
  display: flex;
  overflow: scroll;
}
.cat {
  padding: 0.5rem;
  margin-right: 1rem;
  border-radius: 1rem 1rem 1rem 1rem;
}
.cat:hover {
  background-color: lightgreen;
}

#gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  height: 100%;
  row-gap: 1rem;
  justify-items: center;
}
.galleryItem {
  width: 100%;
  max-width: 300px;
  max-height: 200px;
  min-width: 200px;
  min-height: 300px;
  /* border: solid 2px; */
}

.galleryImg {
  border-radius: 2rem 2rem 2rem 2rem;
  width: 100%;
  height: 60%;
  border: solid 1px;
}
.galleryImg:hover {
  border-radius: 0;
  transition: 500ms;
}

.galleryUserName,
.galleryViewTime {
  display: flex;
  margin-left: 3rem;
  align-items: center;
}
.galleryTitle {
  margin-left: 1rem;
}
.titleDiv {
  display: flex;
  align-items: center;
}
.userImg {
  width: 2rem;
  height: 2rem;
  border-radius: 2rem 2rem 2rem 2rem;
}
